<a href="https://colab.research.google.com/github/aleksanderprofic/Machine-Learning/blob/master/Classification/LogisticRegression/sklearn/tumors_logistic_regression_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression

## Data preprocessing

### Data loading

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('Tumors.csv')
df.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [2]:
len(df)

683

There are 683 samples of data

### Data preprocessing

In [3]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

#### Splitting the dataset into the Training set and the Test set

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Feature scaling

In [5]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Model training and predictions

### Training

#### Performing Grid Search to find the best hyper parameters

In [6]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

parameters = [{'C': [1, 0.75, 0.5, 0.25, 0.1], 'max_iter': [100, 200]}]
grid_search = GridSearchCV(estimator=LogisticRegression(), param_grid=parameters, scoring='accuracy', n_jobs=-1, cv=10)
grid_search.fit(X_train, y_train)
print('Best mean accuracy: {:.2f}%'.format(grid_search.best_score_ * 100))
print('Best Standard deviation: {:.2f}%'.format(grid_search.cv_results_['std_test_score'][grid_search.best_index_] * 100))
print(f"Best parameters: {grid_search.best_params_}")

Best mean accuracy: 97.06%
Best Standard deviation: 1.87%
Best parameters: {'C': 0.5, 'max_iter': 100}

#### Training the model on the Training set using chosen hyper parameter

In [7]:
classifier = LogisticRegression(C=0.5, max_iter=100)
classifier.fit(X_train, y_train)

LogisticRegression(C=0.5, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Predicting the Test set results

In [8]:
y_pred = classifier.predict(X_test)

#### Creating Confusion Matrix

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score

cm = confusion_matrix(y_test, y_pred)
print(f'Confusion Matrix: \n{cm}\n')
print('Accuracy: {:.2f}%'.format(accuracy_score(y_test, y_pred) * 100))
print('Recall: {:.2f}%'.format(recall_score(y_test, y_pred, pos_label=4) * 100))

Confusion Matrix:
[[84  3]
 [ 3 47]]

Accuracy: 95.62%
Recall: 94.00%